In [2]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import tensorflow as tf

In [30]:
df =pd.read_csv('C:\\Users\Ente_LJS\\Anaconda_src\\Semi_Project_1pick\\train.csv')

In [31]:
# df_h = df.loc[df["parentesco1"]==1]
df_h = df_h.fillna(0)
df_y =pd.DataFrame(df_h["Target"])
df_y.head()

   Target
0       4
1       4
2       4
5       4
8       4

In [32]:
#불필요한 피쳐들 제거해 x1값 만들기 
# age, SQBescolari, SQBage, SQBhogar_total, SQBedjefe, SQBhogar_nin, SQBovercrowding,
# SQBdependency, SQBmeaned, agesq

#결과값 y에 해당하는 값 삭제 
df_x1 = df_h.drop(["Target"],1)
#세대주성별 교육년수 (논의필요)
df_x1 = df_x1.drop(["edjefa", "edjefe"],1) 
#중복정보 제거
df_x1 = df_x1.drop(["dependency","female","area2","hacdor","hacapo","bedrooms","r4h3","r4m3"],1) 
#수학적으로 의미가 없는 값 제거
df_x1 = df_x1.drop(["Id","SQBescolari", "SQBage", "SQBhogar_total", "SQBedjefe", "SQBhogar_nin", "SQBovercrowding","idhogar"],1) 
#세대주와의 관계열 제거
df_x1 = df_x1.drop(["parentesco1","parentesco2","parentesco3","parentesco4","parentesco5","parentesco6","parentesco7","parentesco8",
                   "parentesco9","parentesco10","parentesco11","parentesco12"],1)
#집세 임시제거!!!!!!!!!!!!!!!!!!!!!!!!!!
df_x1 = df_x1.drop(["v2a1"],1)
df_x1.head()

,rooms,v14a,refrig,v18q,v18q1,r4h1,r4h2,r4m1,r4m2,r4t1,...,lugar2,lugar3,lugar4,lugar5,lugar6,area1,age,SQBdependency,SQBmeaned,agesq
0,3,1,1,0,0.0,0,1,0,0,0,...,0,0,0,0,0,1,43,0.0,100.0,1849
1,4,1,1,1,1.0,0,1,0,0,0,...,0,0,0,0,0,1,67,64.0,144.0,4489
2,8,1,1,0,0.0,0,0,0,1,0,...,0,0,0,0,0,1,92,64.0,121.0,8464
5,5,1,1,1,1.0,0,2,1,1,1,...,0,0,0,0,0,1,38,1.0,121.0,1444
8,2,1,1,0,0.0,0,1,2,1,2,...,0,0,0,0,0,1,30,1.0,100.0,900

In [33]:
#새로운열 추가 
# df_x1['rent_to_rooms'] = df_x1['v2a1']/df_x1['rooms']
# df_x1['r4t3_to_rooms'] = df_x1['r4t3']/df_x1['rooms']
# df_x1['rent_to_r4t3'] = df_x1['v2a1']/df_x1['r4t3']
# df_x1['v2a1_to_r4t3'] = df_x1['v2a1']/(df_x1['r4t3'] - df_x1['r4t1'])
df_x1['lent'] = df_x1['tamviv']-df_x1['tamhog']

#열 생성 이후 불필요한 열 제거 
df_x1 = df_x1.drop(["r4t1","r4t2","r4t3","tamhog","tamviv"],1) 
df_x1.head()

,rooms,v14a,refrig,v18q,v18q1,r4h1,r4h2,r4m1,r4m2,escolari,...,lugar3,lugar4,lugar5,lugar6,area1,age,SQBdependency,SQBmeaned,agesq,lent
0,3,1,1,0,0.0,0,1,0,0,10,...,0,0,0,0,1,43,0.0,100.0,1849,0
1,4,1,1,1,1.0,0,1,0,0,12,...,0,0,0,0,1,67,64.0,144.0,4489,0
2,8,1,1,0,0.0,0,0,0,1,11,...,0,0,0,0,1,92,64.0,121.0,8464,0
5,5,1,1,1,1.0,0,2,1,1,11,...,0,0,0,0,1,38,1.0,121.0,1444,0
8,2,1,1,0,0.0,0,1,2,1,9,...,0,0,0,0,1,30,1.0,100.0,900,0

In [34]:
df_y["Target"]=df_y["Target"]-1

In [8]:
def xavier_init(n_inputs, n_outputs, uniform=True):
    if uniform:
        # 6 was used in the paper.
        init_range = tf.sqrt(6.0 / (n_inputs + n_outputs))
        return tf.random_uniform_initializer(-init_range, init_range)
    else:
        # 3 gives us approximately the same limints as above since this repicks
        # values greater than 2 standard deviations from the mean.
        stddev = tf.sqrt(3.0 / (n_inputs + n_outputs))
        return tf.truncated_normal_initializer(stddev=stddev)

In [9]:
def maxout(inputs, num_units, axis=None):
    shape = inputs.get_shape().as_list()
    if axis is None:
        # Assume that channel is the last dimension
        axis = -1
    num_channels = shape[axis]
    if num_channels % num_units:
        raise ValueError('number of features({}) is not a multiple of num_units({})'
             .format(num_channels, num_units))
    shape[axis] = -1
    shape += [num_channels // num_units]
    outputs = tf.reduce_max(tf.reshape(inputs, shape), -1, keep_dims=False)
    return outputs

### maxout 적용버전

In [22]:
x_data = x_data = df_x1
sess = tf.Session()
y_data = tf.one_hot(df_y, depth = 4).eval(session=sess)
y_data = tf.reshape(y_data, shape=[-1,4]).eval(session=sess)
print(y_data)
tf.set_random_seed(999)  # reproducibility


# parameters
learning_rate = 0.001



X = tf.placeholder(tf.float32, [None, 107])
Y = tf.placeholder(tf.float32, [None, 4])

W1 = tf.get_variable("W1", shape=[107, 64],
                     initializer=xavier_init(107, 64))
b1 = tf.Variable(tf.random_normal([64]))
L1 = tf.contrib.layers.maxout(tf.matmul(X, W1) + b1, num_units=64)

W2 = tf.get_variable("W2", shape=[64, 64],
                     initializer=xavier_init(64, 64))
b2 = tf.Variable(tf.random_normal([64]))
L2 = tf.contrib.layers.maxout(tf.matmul(L1, W2) + b2, num_units=64)

W3 = tf.get_variable("W3", shape=[64, 4],
                     initializer=xavier_init(64, 4))
b3 = tf.Variable(tf.random_normal([4]))
hypothesis = tf.matmul(L2, W3) + b3

# define cost/loss & optimizer
cost = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(
    logits=hypothesis, labels=Y))
optimizer = tf.train.AdamOptimizer(learning_rate=learning_rate).minimize(cost)
correct_prediction = tf.equal(tf.argmax(hypothesis, 1), tf.argmax(Y, 1))
accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))

[[0. 0. 1. 0.]
 [0. 0. 1. 0.]
 [0. 0. 1. 0.]
 ...
 [0. 0. 1. 0.]
 [1. 0. 0. 0.]
 [1. 0. 0. 0.]]

### tanh 적용버전

In [28]:
x_data = x_data = df_x1
sess = tf.Session()
y_data = tf.one_hot(df_y, depth = 4).eval(session=sess)
y_data = tf.reshape(y_data, shape=[-1,4]).eval(session=sess)
print(y_data)
tf.set_random_seed(999)  # reproducibility


# parameters
learning_rate = 0.001



X = tf.placeholder(tf.float32, [None, 107])
Y = tf.placeholder(tf.float32, [None, 4])

W1 = tf.get_variable("W1", shape=[107, 64],
                     initializer=xavier_init(107, 64))
b1 = tf.Variable(tf.random_normal([64]))
L1 = tf.nn.tanh(tf.matmul(X, W1) + b1)

W2 = tf.get_variable("W2", shape=[64, 64],
                     initializer=xavier_init(64, 64))
b2 = tf.Variable(tf.random_normal([64]))
L2 = tf.nn.tanh(tf.matmul(L1, W2) + b2)

W3 = tf.get_variable("W3", shape=[64, 4],
                     initializer=xavier_init(64, 4))
b3 = tf.Variable(tf.random_normal([4]))
hypothesis = tf.matmul(L2, W3) + b3

# define cost/loss & optimizer
cost = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(
    logits=hypothesis, labels=Y))
optimizer = tf.train.AdamOptimizer(learning_rate=learning_rate).minimize(cost)
correct_prediction = tf.equal(tf.argmax(hypothesis, 1), tf.argmax(Y, 1))
accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))

[[0. 0. 1. 0.]
 [0. 0. 1. 0.]
 [0. 0. 1. 0.]
 ...
 [0. 0. 1. 0.]
 [1. 0. 0. 0.]
 [1. 0. 0. 0.]]

### relu 적용버전

In [48]:
x_data = x_data = df_x1
sess = tf.Session()
y_data = tf.one_hot(df_y, depth = 4).eval(session=sess)
y_data = tf.reshape(y_data, shape=[-1,4]).eval(session=sess)
print(y_data)
tf.set_random_seed(999)  # reproducibility


# parameters
learning_rate = 0.002



X = tf.placeholder(tf.float32, [None, 107])
Y = tf.placeholder(tf.float32, [None, 4])

W1 = tf.get_variable("W1", shape=[107, 64],
                     initializer=xavier_init(107, 64))
b1 = tf.Variable(tf.random_normal([64]))
L1 = tf.nn.relu(tf.matmul(X, W1) + b1)

W2 = tf.get_variable("W2", shape=[64, 64],
                     initializer=xavier_init(64, 64))
b2 = tf.Variable(tf.random_normal([64]))
L2 = tf.nn.relu(tf.matmul(L1, W2) + b2)

W3 = tf.get_variable("W3", shape=[64, 64],
                     initializer=xavier_init(64, 64))
b3 = tf.Variable(tf.random_normal([64]))
L3 = tf.nn.relu(tf.matmul(L2, W3) + b3)

W4 = tf.get_variable("W4", shape=[64, 4],
                     initializer=xavier_init(64, 4))
b4 = tf.Variable(tf.random_normal([4]))
hypothesis = tf.matmul(L3, W4) + b4

# define cost/loss & optimizer
cost = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(
    logits=hypothesis, labels=Y))
optimizer = tf.train.AdamOptimizer(learning_rate=learning_rate).minimize(cost)
correct_prediction = tf.equal(tf.argmax(hypothesis, 1), tf.argmax(Y, 1))
accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))

[[0. 0. 0. 1.]
 [0. 0. 0. 1.]
 [0. 0. 0. 1.]
 ...
 [0. 0. 0. 1.]
 [0. 1. 0. 0.]
 [0. 1. 0. 0.]]

### 실행 코드

In [44]:
# Launch the graph in a session.
sess = tf.Session()

# Initializes global variables in the graph.
sess.run(tf.global_variables_initializer())

for step in range(20001):
    sess.run(optimizer, feed_dict={X: x_data, Y: y_data})
    if step % 1000 == 0 or step < 100:
        loss, acc = sess.run([cost, accuracy], feed_dict={
                             X: x_data, Y: y_data})
        print("Step: {:5}, \t Loss: {:.3f}, \t Acc: {:.2%}".format(
            step, loss, acc))

Step:     0, 	 Loss: 66.670, 	 Acc: 14.87%
Step:     1, 	 Loss: 31.265, 	 Acc: 12.08%
Step:     2, 	 Loss: 36.665, 	 Acc: 65.29%
Step:     3, 	 Loss: 49.416, 	 Acc: 65.62%
Step:     4, 	 Loss: 53.836, 	 Acc: 65.72%
Step:     5, 	 Loss: 52.145, 	 Acc: 65.72%
Step:     6, 	 Loss: 46.666, 	 Acc: 65.72%
Step:     7, 	 Loss: 38.307, 	 Acc: 65.72%
Step:     8, 	 Loss: 28.040, 	 Acc: 63.17%
Step:     9, 	 Loss: 42.221, 	 Acc: 8.48%
Step:    10, 	 Loss: 32.272, 	 Acc: 8.88%
Step:    11, 	 Loss: 17.086, 	 Acc: 65.42%
Step:    12, 	 Loss: 16.548, 	 Acc: 65.72%
Step:    13, 	 Loss: 14.001, 	 Acc: 65.66%
Step:    14, 	 Loss: 9.776, 	 Acc: 61.65%
Step:    15, 	 Loss: 8.116, 	 Acc: 16.52%
Step:    16, 	 Loss: 9.009, 	 Acc: 15.91%
Step:    17, 	 Loss: 7.979, 	 Acc: 28.39%
Step:    18, 	 Loss: 9.572, 	 Acc: 65.72%
Step:    19, 	 Loss: 11.839, 	 Acc: 65.72%
Step:    20, 	 Loss: 11.671, 	 Acc: 65.72%
Step:    21, 	 Loss: 9.603, 	 Acc: 65.72%
Step:    22, 	 Loss: 8.097, 	 Acc: 28.86%
Step:    23, 	 Loss: 7.191, 	 Acc: 27.68%
Step:    24, 	 Loss: 6.998, 	 Acc: 41.07%
Step:    25, 	 Loss: 7.589, 	 Acc: 64.24%
Step:    26, 	 Loss: 7.880, 	 Acc: 62.53%
Step:    27, 	 Loss: 7.830, 	 Acc: 59.87%
Step:    28, 	 Loss: 7.340, 	 Acc: 65.72%
Step:    29, 	 Loss: 6.089, 	 Acc: 62.80%
Step:    30, 	 Loss: 4.966, 	 Acc: 50.29%
Step:    31, 	 Loss: 3.457, 	 Acc: 60.21%
Step:    32, 	 Loss: 6.306, 	 Acc: 22.97%
Step:    33, 	 Loss: 3.807, 	 Acc: 65.72%
Step:    34, 	 Loss: 3.802, 	 Acc: 65.72%
Step:    35, 	 Loss: 2.238, 	 Acc: 65.76%
Step:    36, 	 Loss: 3.316, 	 Acc: 24.22%
Step:    37, 	 Loss: 3.855, 	 Acc: 27.21%
Step:    38, 	 Loss: 1.602, 	 Acc: 65.72%
Step:    39, 	 Loss: 2.328, 	 Acc: 65.72%
Step:    40, 	 Loss: 2.655, 	 Acc: 47.09%
Step:    41, 	 Loss: 2.160, 	 Acc: 65.69%
Step:    42, 	 Loss: 1.915, 	 Acc: 60.31%
Step:    43, 	 Loss: 1.222, 	 Acc: 65.59%
Step:    44, 	 Loss: 2.825, 	 Acc: 29.53%
Step:    45, 	 Loss: 1.184, 	 Acc: 62.76%
Step:    46, 	 Loss: 1.708, 	 Acc: 65.86%
Step:    47, 	 Loss: 1.716, 	 Acc: 60.44%
Step:    48, 	 Loss: 1.271, 	 Acc: 63.74%
Step:    49, 	 Loss: 1.379, 	 Acc: 52.03%
Step:    50, 	 Loss: 1.324, 	 Acc: 63.81%
Step:    51, 	 Loss: 1.425, 	 Acc: 65.72%
Step:    52, 	 Loss: 1.048, 	 Acc: 61.18%
Step:    53, 	 Loss: 1.329, 	 Acc: 53.38%
Step:    54, 	 Loss: 1.522, 	 Acc: 65.72%
Step:    55, 	 Loss: 1.462, 	 Acc: 63.91%
Step:    56, 	 Loss: 1.526, 	 Acc: 52.61%
Step:    57, 	 Loss: 1.473, 	 Acc: 59.03%
Step:    58, 	 Loss: 1.835, 	 Acc: 65.86%
Step:    59, 	 Loss: 2.508, 	 Acc: 44.77%
Step:    60, 	 Loss: 2.226, 	 Acc: 65.76%
Step:    61, 	 Loss: 1.651, 	 Acc: 65.56%
Step:    62, 	 Loss: 3.921, 	 Acc: 25.60%
Step:    63, 	 Loss: 1.125, 	 Acc: 61.65%
Step:    64, 	 Loss: 1.804, 	 Acc: 65.79%
Step:    65, 	 Loss: 2.017, 	 Acc: 55.90%
Step:    66, 	 Loss: 1.906, 	 Acc: 65.72%
Step:    67, 	 Loss: 1.509, 	 Acc: 62.29%
Step:    68, 	 Loss: 0.950, 	 Acc: 65.02%
Step:    69, 	 Loss: 2.469, 	 Acc: 35.45%
Step:    70, 	 Loss: 1.669, 	 Acc: 65.79%
Step:    71, 	 Loss: 1.568, 	 Acc: 65.76%
Step:    72, 	 Loss: 2.973, 	 Acc: 29.20%
Step:    73, 	 Loss: 1.342, 	 Acc: 65.79%
Step:    74, 	 Loss: 1.431, 	 Acc: 64.78%
Step:    75, 	 Loss: 2.035, 	 Acc: 46.38%
Step:    76, 	 Loss: 1.727, 	 Acc: 65.76%
Step:    77, 	 Loss: 2.013, 	 Acc: 50.76%
Step:    78, 	 Loss: 1.899, 	 Acc: 65.83%
Step:    79, 	 Loss: 2.646, 	 Acc: 42.08%
Step:    80, 	 Loss: 2.470, 	 Acc: 65.83%
Step:    81, 	 Loss: 2.432, 	 Acc: 62.93%
Step:    82, 	 Loss: 3.055, 	 Acc: 46.15%
Step:    83, 	 Loss: 2.842, 	 Acc: 65.83%
Step:    84, 	 Loss: 2.283, 	 Acc: 65.86%
Step:    85, 	 Loss: 5.071, 	 Acc: 19.31%
Step:    86, 	 Loss: 1.512, 	 Acc: 65.89%
Step:    87, 	 Loss: 1.505, 	 Acc: 65.69%
Step:    88, 	 Loss: 2.526, 	 Acc: 39.79%
Step:    89, 	 Loss: 2.794, 	 Acc: 45.14%
Step:    90, 	 Loss: 4.266, 	 Acc: 65.79%
Step:    91, 	 Loss: 4.904, 	 Acc: 65.79%
Step:    92, 	 Loss: 3.739, 	 Acc: 65.83%
Step:    93, 	 Loss: 1.294, 	 Acc: 64.18%
Step:    94, 	 Loss: 4.649, 	 Acc: 18.13%
Step:    95, 	 Loss: 5.321, 	 Acc: 19.88%
Step:    96, 	 Loss: 2.354, 	 Acc: 65.86%
Step:    97, 	 Loss: 3.788, 	 Acc: 65.76%
Step:    98, 	 Loss: 3.423, 	 Acc: 65.76%
Step:    99, 	 Loss: 4.692, 	 Acc: 27.92%
Step:  1000, 	 Loss: 0.773, 	 Acc: 69.79%
Step:  2000, 	 Loss: 0.804, 	 Acc: 69.96%
Step:  3000, 	 Loss: 0.743, 	 Acc: 70.87%
Step:  4000, 	 Loss: 0.719, 	 Acc: 72.12%
Step:  5000, 	 Loss: 0.696, 	 Acc: 72.65%
Step:  6000, 	 Loss: 0.685, 	 Acc: 73.60%
Step:  7000, 	 Loss: 0.645, 	 Acc: 74.74%
Step:  8000, 	 Loss: 0.618, 	 Acc: 76.08%
Step:  9000, 	 Loss: 0.600, 	 Acc: 76.89%
Step: 10000, 	 Loss: 0.578, 	 Acc: 77.60%
Step: 11000, 	 Loss: 0.556, 	 Acc: 78.74%
Step: 12000, 	 Loss: 0.544, 	 Acc: 79.01%
Step: 13000, 	 Loss: 0.513, 	 Acc: 80.39%
Step: 14000, 	 Loss: 0.484, 	 Acc: 81.63%
Step: 15000, 	 Loss: 0.453, 	 Acc: 83.01%
Step: 16000, 	 Loss: 0.438, 	 Acc: 83.48%
Step: 17000, 	 Loss: 0.385, 	 Acc: 85.57%
Step: 18000, 	 Loss: 0.381, 	 Acc: 86.14%
Step: 19000, 	 Loss: 0.435, 	 Acc: 83.82%
Step: 20000, 	 Loss: 0.545, 	 Acc: 81.16%

In [47]:
tf.reset_default_graph()

In [45]:
?df.loc