## 판다스 형식으로 데이터 불러오기

In [1]:
# 데이터를 판다스를 통해 가공하고자 함
import pandas as pd
df =pd.read_csv('./dataset/train.csv')

## 세대주를 선별해 데이터 프레임 만들기 
- "코스타리카 가구 빈곤레벨 측정"이 주제이므로 가구원들은 모두 동일한 빈곤레벨을 지닐것

In [2]:
#가구주인 사람들만 뽑은 데이터 프레임 df_h (parentesco1=1)
df_h = df.loc[df["parentesco1"]==1]
df_h.head()

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
0,ID_279628684,190000.0,0,3,0,1,1,0,NaN,0,...,100,1849,1,100,0,1.000000,0.0,100.0,1849,4
1,ID_f29eb3ddd,135000.0,0,4,0,1,1,1,1.0,0,...,144,4489,1,144,0,1.000000,64.0,144.0,4489,4
2,ID_68de51c94,NaN,0,8,0,1,1,0,NaN,0,...,121,8464,1,0,0,0.250000,64.0,121.0,8464,4
5,ID_ec05b1a7b,180000.0,0,5,0,1,1,1,1.0,0,...,121,1444,16,121,4,1.777778,1.0,121.0,1444,4
8,ID_1284f8aad,130000.0,1,2,0,1,1,0,NaN,0,...,81,900,16,81,4,16.000000,1.0,100.0,900,4

In [3]:
#결측값은 0으로 제거해주기 
df_h = df_h.fillna(0)

## 결과값 데이터 df_y

In [4]:
# 결과값 데이터에 해당하는 y를 뽑아냄 (타겟)
df_y =pd.DataFrame(df_h["Target"])
df_y.head()

   Target
0       4
1       4
2       4
5       4
8       4

## 유의미한 피쳐 데이터 df_x

In [5]:
#불필요한 피쳐들 제거해 x1값 만들기 
# age, SQBescolari, SQBage, SQBhogar_total, SQBedjefe, SQBhogar_nin, SQBovercrowding,
# SQBdependency, SQBmeaned, agesq

#결과값 y에 해당하는 값 삭제 
df_x1 = df_h.drop(["Target"],1)
#세대주성별 교육년수 (논의필요)
df_x1 = df_x1.drop(["edjefa", "edjefe"],1) 
#중복정보 제거
df_x1 = df_x1.drop(["dependency","tamhog","female","area2","hacdor","hacapo","bedrooms","r4h3","r4m3"],1) 
#수학적으로 의미가 없는 값 제거
df_x1 = df_x1.drop(["Id","SQBescolari", "SQBage", "SQBhogar_total", "SQBedjefe", "SQBhogar_nin", "SQBovercrowding","idhogar"],1) 
#세대주와의 관계열 제거
df_x1 = df_x1.drop(["parentesco1","parentesco2","parentesco3","parentesco4","parentesco5","parentesco6","parentesco7","parentesco8",
                   "parentesco9","parentesco10","parentesco11","parentesco12"],1)
df_x1.head()

,v2a1,rooms,v14a,refrig,v18q,v18q1,r4h1,r4h2,r4m1,r4m2,...,lugar2,lugar3,lugar4,lugar5,lugar6,area1,age,SQBdependency,SQBmeaned,agesq
0,190000.0,3,1,1,0,0.0,0,1,0,0,...,0,0,0,0,0,1,43,0.0,100.0,1849
1,135000.0,4,1,1,1,1.0,0,1,0,0,...,0,0,0,0,0,1,67,64.0,144.0,4489
2,0.0,8,1,1,0,0.0,0,0,0,1,...,0,0,0,0,0,1,92,64.0,121.0,8464
5,180000.0,5,1,1,1,1.0,0,2,1,1,...,0,0,0,0,0,1,38,1.0,121.0,1444
8,130000.0,2,1,1,0,0.0,0,1,2,1,...,0,0,0,0,0,1,30,1.0,100.0,900

In [6]:
#새로운열 추가 
df_x1['rent_to_rooms'] = df_x1['v2a1']/df_x1['rooms']
df_x1['r4t3_to_rooms'] = df_x1['r4t3']/df_x1['rooms']
df_x1['rent_to_r4t3'] = df_x1['v2a1']/df_x1['r4t3']
df_x1['v2a1_to_r4t3'] = df_x1['v2a1']/(df_x1['r4t3'] - df_x1['r4t1'])

#열 생성 이후 불필요한 열 제거 
df_x1 = df_x1.drop(["r4t1","r4t2","r4t3"],1) 
df_x1.head()

,v2a1,rooms,v14a,refrig,v18q,v18q1,r4h1,r4h2,r4m1,r4m2,...,lugar6,area1,age,SQBdependency,SQBmeaned,agesq,rent_to_rooms,r4t3_to_rooms,rent_to_r4t3,v2a1_to_r4t3
0,190000.0,3,1,1,0,0.0,0,1,0,0,...,0,1,43,0.0,100.0,1849,63333.333333,0.333333,190000.0,190000.0
1,135000.0,4,1,1,1,1.0,0,1,0,0,...,0,1,67,64.0,144.0,4489,33750.000000,0.250000,135000.0,135000.0
2,0.0,8,1,1,0,0.0,0,0,0,1,...,0,1,92,64.0,121.0,8464,0.000000,0.125000,0.0,0.0
5,180000.0,5,1,1,1,1.0,0,2,1,1,...,0,1,38,1.0,121.0,1444,36000.000000,0.800000,45000.0,60000.0
8,130000.0,2,1,1,0,0.0,0,1,2,1,...,0,1,30,1.0,100.0,900,65000.000000,2.000000,32500.0,65000.0

In [7]:
from tqdm import tqdm_notebook
import tensorflow as tf
import numpy as np

C:\Python\Anaconda3-52\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [8]:
# #다시 돌려봄 :112개의 피쳐
# tf.set_random_seed(777)  # for reproducibility

# # Predicting animal type based on various features
# xy = df_h

# x_data = df_x1
# y_data = df_y 

# print(x_data.shape, y_data.shape)
# print('\nx_data :\n', x_data)
# print('\ny_data :\n', y_data)

# nb_classes = 4  # 1 ~ 4

# X = tf.placeholder(tf.float32, [None, 112])
# Y = tf.placeholder(tf.int32, [None, 1])  # 1 ~ 4

# Y_one_hot = tf.one_hot(Y, nb_classes)  # one hot
# print("\none_hot", Y_one_hot)

# Y_one_hot = tf.reshape(Y_one_hot, [-1, nb_classes])
# print("\nreshape", Y_one_hot)

# W = tf.Variable(tf.random_normal([112, nb_classes]), name='weight')
# b = tf.Variable(tf.random_normal([nb_classes]), name='bias')

# # tf.nn.softmax computes softmax activations
# # softmax = exp(logits) / reduce_sum(exp(logits), dim)
# logits = tf.matmul(X, W) + b
# hypothesis = tf.nn.softmax(logits)

# # Cross entropy cost/loss
# cost_i = tf.nn.softmax_cross_entropy_with_logits(logits=logits,
#                                                  labels=Y_one_hot)
# cost = tf.reduce_mean(cost_i)
# prediction = tf.argmax(hypothesis, 1)
# correct_prediction = tf.equal(prediction, tf.argmax(Y_one_hot, 1))
# accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))

In [9]:
# optimizer = tf.train.GradientDescentOptimizer(learning_rate=0.1).minimize(cost)
# #이전과 같은 결과 -> 피쳐값들간의 normalized의 필요성 인지 
# # Launch the graph in a session.
# sess = tf.Session()

# # Initializes global variables in the graph.
# sess.run(tf.global_variables_initializer())

# for step in range(2000):
#     sess.run(optimizer, feed_dict={X: x_data, Y: y_data})
#     if step % 100 == 0:
#         loss, acc = sess.run([cost, accuracy], feed_dict={
#                              X: x_data, Y: y_data})
#         print("Step: {:5}, \t Loss: {:.3f}, \t Acc: {:.2%}".format(
#             step, loss, acc))

## learning rate 조절해서 정확도를 높이고자 함 
-> 정확도가 꾸준히 개선되지 않는 모습 보임

In [10]:
# optimizer = tf.train.GradientDescentOptimizer(learning_rate=0.001).minimize(cost)

# #이전과 같은 결과 -> 피쳐값들간의 normalized의 필요성 인지 
# # Launch the graph in a session.
# sess = tf.Session()

# # Initializes global variables in the graph.
# sess.run(tf.global_variables_initializer())

# for step in range(2000):
#     sess.run(optimizer, feed_dict={X: x_data, Y: y_data})
#     if step % 100 == 0:
#         loss, acc = sess.run([cost, accuracy], feed_dict={
#                              X: x_data, Y: y_data})
#         print("Step: {:5}, \t Loss: {:.3f}, \t Acc: {:.2%}".format(
#             step, loss, acc))

In [11]:
def xavier_init(n_inputs, n_outputs, uniform=True):
    if uniform:
        # 6 was used in the paper.
        init_range = tf.sqrt(6.0 / (n_inputs + n_outputs))
        return tf.random_uniform_initializer(-init_range, init_range)
    else:
        # 3 gives us approximately the same limints as above since this repicks
        # values greater than 2 standard deviations from the mean.
        stddev = tf.sqrt(3.0 / (n_inputs + n_outputs))
        return tf.truncated_normal_initializer(stddev=stddev)

In [13]:
#다시 돌려봄 :112개의 피쳐
tf.set_random_seed(777)  # for reproducibility

# Predicting animal type based on various features
xy = df_h

x_data = df_x1
y_data = df_y 
nb_classes = 4  # 1 ~ 4

X = tf.placeholder(tf.float32, [None, 112])
Y = tf.placeholder(tf.int32, [None, 1])  # 1 ~ 4

Y_one_hot = tf.one_hot(Y, nb_classes)  # one hot
print("\none_hot", Y_one_hot)

Y_one_hot = tf.reshape(Y_one_hot, [-1, nb_classes])
print("\nreshape", Y_one_hot)

W1 = tf.get_variable("W1", shape=[112, 4],
                     initializer=xavier_init(112, 4))
b1 = tf.Variable(tf.random_normal([4]))
L1 = tf.nn.relu(tf.matmul(X, W1) + b1)

W2 = tf.get_variable("W2", shape=[4, 4],
                     initializer=xavier_init(4, 4))
b2 = tf.Variable(tf.random_normal([4]))
L2 = tf.nn.relu(tf.matmul(L1, W2) + b2)

W3 = tf.get_variable("W3", shape=[4, 1],
                     initializer=xavier_init(4, 1))
b3 = tf.Variable(tf.random_normal([1]))
hypothesis = tf.matmul(L2, W3) + b3
cost = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(
    logits=hypothesis, labels=Y))
optimizer = tf.train.AdamOptimizer(learning_rate=0.001).minimize(cost)
correct_prediction = tf.equal(tf.argmax(hypothesis, 1), tf.argmax(Y_one_hot, 1))
accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))

one_hot Tensor("one_hot_1:0", shape=(?, 1, 4), dtype=float32)

reshape Tensor("Reshape_4:0", shape=(?, 4), dtype=float32)

ValueError: Variable W1 already exists, disallowed. Did you mean to set reuse=True or reuse=tf.AUTO_REUSE in VarScope? Originally defined at:

  File "C:\Python\Anaconda3-52\lib\site-packages\tensorflow\python\framework\ops.py", line 1470, in __init__
    self._traceback = self._graph._extract_stack()  # pylint: disable=protected-access
  File "C:\Python\Anaconda3-52\lib\site-packages\tensorflow\python\framework\ops.py", line 2956, in create_op
    op_def=op_def)
  File "C:\Python\Anaconda3-52\lib\site-packages\tensorflow\python\framework\op_def_library.py", line 787, in _apply_op_helper
    op_def=op_def)

In [ ]:
#이전과 같은 결과 -> 피쳐값들간의 normalized의 필요성 인지 
# Launch the graph in a session.
sess = tf.Session()

# Initializes global variables in the graph.
sess.run(tf.global_variables_initializer())

for step in range(2000):
    sess.run(optimizer, feed_dict={X: x_data, Y: y_data})
    if step % 100 == 0:
        loss, acc = sess.run([cost, accuracy], feed_dict={X: x_data, Y: y_data})
        print("Step: {:5}, \t Loss: {:.3f}, \t Acc: {:.2%}".format(
            step, loss, acc))

In [ ]:
optimizer = tf.train.GradientDescentOptimizer(learning_rate=0.2).minimize(cost)

#이전과 같은 결과 -> 피쳐값들간의 normalized의 필요성 인지 
# Launch the graph in a session.
sess = tf.Session()

# Initializes global variables in the graph.
sess.run(tf.global_variables_initializer())

for step in range(2000):
    sess.run(optimizer, feed_dict={X: x_data, Y: y_data})
    if step % 100 == 0:
        loss, acc = sess.run([cost, accuracy], feed_dict={
                             X: x_data, Y: y_data})
        print("Step: {:5}, \t Loss: {:.3f}, \t Acc: {:.2%}".format(
            step, loss, acc))

In [ ]:
df_x1 = df_h.drop(["Target", "edjefa", "edjefe", "dependency","age","Id", 
                   "SQBescolari", "SQBage", "SQBhogar_total", "SQBedjefe", "SQBhogar_nin", "SQBovercrowding","idhogar"],1)
df_x1.drop([""])