In [3]:
# 데이터를 판다스를 통해 가공하고자 함
import pandas as pd
df =pd.read_csv('./dataset/train.csv')

In [71]:
#트레인 데이터의 형태 
df.head()

,Id,idhogar,parentesco1,hhsize,v2a1,hacdor,rooms,hacapo,v14a,refrig,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
0,ID_279628684,21eb7fcc1,1,1,190000.0,0,3,0,1,1,...,100,1849,1,100,0,1.000000,0.0,100.0,1849,4
1,ID_f29eb3ddd,0e5d7a658,1,1,135000.0,0,4,0,1,1,...,144,4489,1,144,0,1.000000,64.0,144.0,4489,4
2,ID_68de51c94,2c7317ea8,1,1,NaN,0,8,0,1,1,...,121,8464,1,0,0,0.250000,64.0,121.0,8464,4
3,ID_d671db89c,2b58d945f,0,4,180000.0,0,5,0,1,1,...,81,289,16,121,4,1.777778,1.0,121.0,289,4
4,ID_d56d6f5f5,2b58d945f,0,4,180000.0,0,5,0,1,1,...,121,1369,16,121,4,1.777778,1.0,121.0,1369,4

In [18]:
#가구주인 사람들만 뽑은 데이터 프레임 df_h (parentesco1=1)
df_h = df.loc[df["parentesco1"]==1]
df_h.head()

,Id,idhogar,parentesco1,hhsize,v2a1,hacdor,rooms,hacapo,v14a,refrig,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
0,ID_279628684,21eb7fcc1,1,1,190000.0,0,3,0,1,1,...,100,1849,1,100,0,1.000000,0.0,100.0,1849,4
1,ID_f29eb3ddd,0e5d7a658,1,1,135000.0,0,4,0,1,1,...,144,4489,1,144,0,1.000000,64.0,144.0,4489,4
2,ID_68de51c94,2c7317ea8,1,1,NaN,0,8,0,1,1,...,121,8464,1,0,0,0.250000,64.0,121.0,8464,4
5,ID_ec05b1a7b,2b58d945f,1,4,180000.0,0,5,0,1,1,...,121,1444,16,121,4,1.777778,1.0,121.0,1444,4
8,ID_1284f8aad,d6dae86b7,1,4,130000.0,1,2,0,1,1,...,81,900,16,81,4,16.000000,1.0,100.0,900,4

In [12]:
df_h.columns

Index(['Id', 'idhogar', 'parentesco1', 'hhsize', 'v2a1', 'hacdor', 'rooms',
       'hacapo', 'v14a', 'refrig',
       ...
       'SQBescolari', 'SQBage', 'SQBhogar_total', 'SQBedjefe', 'SQBhogar_nin',
       'SQBovercrowding', 'SQBdependency', 'SQBmeaned', 'agesq', 'Target'],
      dtype='object', length=145)

In [13]:
len(df_h)

2973

In [58]:
# 결과값 데이터에 해당하는 y를 뽑아냄 (타겟)
df_y =pd.DataFrame(df_h["Target"])
df_y.head()

   Target
0       4
1       4
2       4
5       4
8       4

In [51]:
#결과값을 포함하여 문자열을 포함하는 열을 제외시킨 피쳐값 df_x만들어준다
## no: edjefa, edjefe, dependency
df_x = df_h.drop(["Target", "edjefa", "edjefe", "dependency"],1)
df_x.head()

,parentesco1,hhsize,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,...,age,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq
0,1,1,190000.0,0,3,0,1,1,0,NaN,...,43,100,1849,1,100,0,1.000000,0.0,100.0,1849
1,1,1,135000.0,0,4,0,1,1,1,1.0,...,67,144,4489,1,144,0,1.000000,64.0,144.0,4489
2,1,1,NaN,0,8,0,1,1,0,NaN,...,92,121,8464,1,0,0,0.250000,64.0,121.0,8464
5,1,4,180000.0,0,5,0,1,1,1,1.0,...,38,121,1444,16,121,4,1.777778,1.0,121.0,1444
8,1,4,130000.0,1,2,0,1,1,0,NaN,...,30,81,900,16,81,4,16.000000,1.0,100.0,900

In [59]:
# 139개의 전체 피쳐로 softmax 돌림 
from tqdm import tqdm_notebook
import tensorflow as tf
import numpy as np

tf.set_random_seed(777)  # for reproducibility

# Predicting animal type based on various features
xy = df_h

x_data = df_x
y_data = df_y 

print(x_data.shape, y_data.shape)
print('\nx_data :\n', x_data)
print('\ny_data :\n', y_data)

nb_classes = 4  # 1 ~ 4

X = tf.placeholder(tf.float32, [None, 139])
Y = tf.placeholder(tf.int32, [None, 1])  # 1 ~ 4

Y_one_hot = tf.one_hot(Y, nb_classes)  # one hot
print("\none_hot", Y_one_hot)

Y_one_hot = tf.reshape(Y_one_hot, [-1, nb_classes])
print("\nreshape", Y_one_hot)

W = tf.Variable(tf.random_normal([139, nb_classes]), name='weight')
b = tf.Variable(tf.random_normal([nb_classes]), name='bias')

# tf.nn.softmax computes softmax activations
# softmax = exp(logits) / reduce_sum(exp(logits), dim)
logits = tf.matmul(X, W) + b
hypothesis = tf.nn.softmax(logits)

# Cross entropy cost/loss
cost_i = tf.nn.softmax_cross_entropy_with_logits(logits=logits,
                                                 labels=Y_one_hot)
cost = tf.reduce_mean(cost_i)
optimizer = tf.train.GradientDescentOptimizer(learning_rate=0.1).minimize(cost)

prediction = tf.argmax(hypothesis, 1)
correct_prediction = tf.equal(prediction, tf.argmax(Y_one_hot, 1))
accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))

(2973, 139) (2973, 1)

x_data :
       parentesco1  hhsize      v2a1  hacdor  rooms  hacapo  v14a  refrig  \
0               1       1  190000.0       0      3       0     1       1
1               1       1  135000.0       0      4       0     1       1
2               1       1       NaN       0      8       0     1       1
5               1       4  180000.0       0      5       0     1       1
8               1       4  130000.0       1      2       0     1       1
12              1       2  100000.0       0      3       0     1       1
13              1       2       NaN       0      4       0     1       1
18              1       4   90000.0       1      2       0     1       1
20              1       2  215000.0       0      4       0     1       1
21              1       2  150000.0       0      3       0     1       1
23              1       3  100000.0       1      1       1     0       1
26              1       1       NaN       0      5       0     1       1
27              1       3  120000.0       0      4       0     1       1
30              1       2  100000.0       0      5       0     1       1
33              1       5       NaN       0      5       0     1       1
39              1       3   80000.0       0      4       0     1       1
40              1       2   90000.0       0      5       0     1       1
43              1       3       NaN       0      8       0     1       1
45              1       2       NaN       0      4       0     1       1
49              1       3       NaN       0      5       0     1       1
53              1       4  120000.0       0      5       0     1       1
56              1       4  168000.0       0      5       0     1       1
58              1       1   40000.0       0      1       0     0       0
59              1       2  155000.0       0      3       0     1       1
61              1       3       NaN       0      6       0     1       1
64              1       1       NaN       0      6       0     1       1
68              1       5  200000.0       0      3       0     1       1
72              1       4       NaN       0      6       0     1       1
74              1       3  350000.0       0      6       0     1       1
77              1       3  270000.0       0      6       0     1       1
...           ...     ...       ...     ...    ...     ...   ...     ...
9477            1       6       0.0       0      4       0     1       1
9480            1       1       NaN       0      4       0     1       1
9481            1       2   40000.0       0      4       0     1       1
9485            1       4   35000.0       0      5       0     1       1
9487            1       3       NaN       0      4       0     1       1
9490            1       1       NaN       0      5       0     1       1
9492            1       3       NaN       0      2       0     1       1
9495            1       3       NaN       0      4       0     1       1
9499            1       4       NaN       0      4       0     1       1
9502            1       2   30000.0       0      5       0     1       1
9505            1       2       NaN       0      7       0     1       1
9506            1       1       NaN       0      5       0     1       1
9507            1       2       NaN       0      4       0     1       1
9508            1       2       NaN       0      4       0     1       1
9510            1       2       NaN       0      4       0     1       1
9512            1       2       NaN       0      1       0     1       1
9515            1       2       NaN       0      3       0     1       1
9517            1       3       NaN       0      8       0     1       1
9519            1       3  300000.0       0      4       0     1       1
9523            1       2       NaN       0      1       0     1       1
9526            1       4       NaN       0      5       0     1       1
9528            1       1   45000.0       0      3       0     1       0
9530            1       2       NaN       0      1       0     1       1
9531            1       3   70000.0       0      4       0     1       1
9534            1       1       NaN       0      7       0     1       1
9535            1       5       NaN       0      4       0     1       0
9541            1       5       NaN       0      3       0     0       0
9545            1       5   46500.0       0      5       0     1       1
9551            1       2       NaN       0      3       0     1       1
9552            1       5   80000.0       0      6       0     1       1

      v18q  v18q1  ...    age  SQBescolari  SQBage  SQBhogar_total  SQBedjefe  \
0        0    NaN  ...     43          100    1849               1        100
1        1    1.0  ...     67          144    4489               1        144
2        0    NaN  ...     92          121    8464               1          0
5        1    1.0  ...     38          121    1444              16        121
8        0    NaN  ...     30           81     900              16         81
12       0    NaN  ...     34          121    1156               4          0
13       1    1.0  ...     79           16    6241               4          0
18       0    NaN  ...     50          100    2500              16          0
20       0    NaN  ...     26          225     676               4        225
21       0    NaN  ...     69           16    4761               4         16
23       0    NaN  ...     41           36    1681               9         36
26       0    NaN  ...     44          225    1936               1        225
27       1    1.0  ...     69           36    4761               9         36
30       0    NaN  ...     35           64    1225               4         64
33       0    NaN  ...     56          121    3136              25        121
39       0    NaN  ...     37           64    1369               9         64
40       1    1.0  ...     44           81    1936               4          0
43       1    1.0  ...     76          225    5776               9          0
45       0    NaN  ...     69          289    4761               4        289
49       1    1.0  ...     48          121    2304               9        121
53       0    NaN  ...     42          121    1764              16        121
56       0    NaN  ...     37           49    1369              16          0
58       0    NaN  ...     71           49    5041               1         49
59       0    NaN  ...     30          196     900               4          0
61       1    2.0  ...     55          196    3025               9          0
64       0    NaN  ...     71           81    5041               1          0
68       0    NaN  ...     29           81     841              25         81
72       0    NaN  ...     45          225    2025              16        225
74       1    3.0  ...     57          256    3249               9        256
77       0    NaN  ...     41          196    1681               9          0
...    ...    ...  ...    ...          ...     ...             ...        ...
9477     0    NaN  ...     37            4    1369              36          4
9480     0    NaN  ...     75           36    5625               1         36
9481     0    NaN  ...     48            0    2304               4          0
9485     0    NaN  ...     19           64     361              16          0
9487     0    NaN  ...     38           25    1444               9         25
9490     0    NaN  ...     77            0    5929               1          0
9492     0    NaN  ...     29           49     841               9          0
9495     0    NaN  ...     67            9    4489               9          9
9499     0    NaN  ...     74           36    5476              16         36
9502     0    NaN  ...     21           81     441               4          0
9505     1    1.0  ...     70           36    4900               4         36
9506     0    NaN  ...     82            0    6724               1          0
9507     0    NaN  ...     62          121    3844               4        121
9508     0    NaN  ...     49            9    2401               4          9
9510     0    NaN  ...     34          121    1156               4        121
9512     0    NaN  ...     62           36    3844               4         36
9515     0    NaN  ...     41           25    1681               4          0
9517     1    1.0  ...     60          121    3600               9        121
9519     0    NaN  ...     35          121    1225               9        121
9523     0    NaN  ...     52           36    2704               4          0
9526     0    NaN  ...     29           64     841              16         64
9528     0    NaN  ...     31          256     961               1          0
9530     0    NaN  ...     52           36    2704               4         36
9531     0    NaN  ...     54           25    2916               9         25
9534     0    NaN  ...     74           16    5476               1         16
9535     0    NaN  ...     26           25     676              25          0
9541     0    NaN  ...     40            4    1600              25          4
9545     0    NaN  ...     45            4    2025              25          4
9551     0    NaN  ...     67            0    4489               4          0
9552     0    NaN  ...     46           81    2116              25         81

      SQBhogar_nin  SQBovercrowding  SQBdependency   SQBmeaned  agesq
0                0         1.000000       0.000000  100.000000   1849
1                0         1.000000      64.000000  144.000000   4489
2                0         0.250000      64.000000  121.000000   8464
5                4         1.777778       1.000000  121.000000   1444
8                4        16.000000       1.000000  100.000000    900
12               1         1.000000       1.000000  529.000000   1156
13               0         1.000000       1.000000   90.250000   6241
18               4        16.000000       9.000000  289.000000   2500
20               0         1.000000       0.000000  182.250000    676
21               0         4.000000      64.000000  100.000000   4761
23               0         9.000000       0.000000  106.777770   1681
26               0         0.250000       0.000000  225.000000   1936
27               0         2.250000       0.250000   44.444443   4761
30               0         1.000000       0.000000   90.250000   1225
33               1         2.777778       0.062500   27.562500   3136
39               1         2.250000       0.250000   49.000000   1369
40               0         1.000000       0.000000  121.000000   1936
43               1         1.000000       4.000000  240.250000   5776
45               0         1.000000      64.000000  100.000000   4761
49               1         2.250000       0.250000  182.250000   2304
53               4         4.000000       1.000000  121.000000   1764
56               4         1.777778       1.000000   81.000000   1369
58               0         1.000000      64.000000   49.000000   5041
59               0         4.000000       0.000000  100.000000    900
61               0         1.000000       0.250000  169.000000   3025
64               0         0.111111      64.000000   81.000000   5041
68               4         6.250000       0.444444   81.000000    841
72               1         4.000000       1.000000  196.000000   2025
74               1         1.000000       0.250000  272.250000   3249
77               1         1.000000       0.250000  196.000000   1681
...            ...              ...            ...         ...    ...
9477            16         9.000000       4.000000    9.000000   1369
9480             0         0.250000      64.000000   36.000000   5625
9481             0         1.000000       0.000000    0.250000   2304
9485             9         1.777778       9.000000  289.000000    361
9487             1         2.250000       0.250000   30.250000   1444
9490             0         0.250000      64.000000    0.000000   5929
9492             4         9.000000       4.000000   49.000000    841
9495             0         2.250000       0.250000   25.000000   4489
9499             1         4.000000       1.000000  100.000000   5476
9502             0         0.444444       0.000000   81.000000    441
9505             0         0.250000       1.000000   36.000000   4900
9506             0         0.111111      64.000000    0.000000   6724
9507             1         1.000000       1.000000  441.000000   3844
9508             0         1.000000       0.000000   16.000000   2401
9510             0         1.000000       0.000000  156.250000   1156
9512             0         4.000000       0.000000   36.000000   3844
9515             1         1.000000       1.000000   25.000000   1681
9517             1         0.562500       0.250000  182.250000   3600
9519             1         2.250000       0.250000   72.250000   1225
9523             0         4.000000       0.000000   81.000000   2704
9526             4         4.000000       1.000000   90.250000    841
9528             0         1.000000       0.000000  256.000000    961
9530             0         4.000000       0.000000   36.000000   2704
9531             1         2.250000       0.250000   30.250000   2916
9534             0         0.111111      64.000000   16.000000   5476
9535             9         6.250000       2.250000   20.250000    676
9541             9         6.250000       2.250000   16.000000   1600
9545             4         5.444444       0.444444  100.000000   2025
9551             0         4.000000       1.000000    9.000000   4489
9552             1         1.562500       0.062500   68.062500   2116

[2973 rows x 139 columns]

y_data :
       Target
0          4
1          4
2          4
5          4
8          4
12         4
13         4
18         4
20         4
21         4
23         4
26         4
27         4
30         4
33         4
39         4
40         4
43         4
45         4
49         4
53         2
56         4
58         2
59         4
61         4
64         2
68         4
72         4
74         4
77         4
...      ...
9477       2
9480       3
9481       4
9485       1
9487       4
9490       3
9492       2
9495       4
9499       4
9502       4
9505       4
9506       3
9507       4
9508       1
9510       4
9512       4
9515       1
9517       4
9519       4
9523       3
9526       4
9528       4
9530       4
9531       4
9534       3
9535       1
9541       2
9545       4
9551       2
9552       2

[2973 rows x 1 columns]

one_hot Tensor("one_hot_4:0", shape=(?, 1, 4), dtype=float32)

reshape Tensor("Reshape_13:0", shape=(?, 4), dtype=float32)

In [60]:
#학습시켰으나 loss값이 계속 nan으로 도출된다.
# Launch the graph in a session.
sess = tf.Session()

# Initializes global variables in the graph.
sess.run(tf.global_variables_initializer())

for step in range(2000):
    sess.run(optimizer, feed_dict={X: x_data, Y: y_data})
    if step % 100 == 0:
        loss, acc = sess.run([cost, accuracy], feed_dict={
                             X: x_data, Y: y_data})
        print("Step: {:5}, \t Loss: {:.3f}, \t Acc: {:.2%}".format(
            step, loss, acc))

Step:     0, 	 Loss: nan, 	 Acc: 65.72%
Step:   100, 	 Loss: nan, 	 Acc: 65.72%
Step:   200, 	 Loss: nan, 	 Acc: 65.72%
Step:   300, 	 Loss: nan, 	 Acc: 65.72%
Step:   400, 	 Loss: nan, 	 Acc: 65.72%
Step:   500, 	 Loss: nan, 	 Acc: 65.72%
Step:   600, 	 Loss: nan, 	 Acc: 65.72%
Step:   700, 	 Loss: nan, 	 Acc: 65.72%
Step:   800, 	 Loss: nan, 	 Acc: 65.72%
Step:   900, 	 Loss: nan, 	 Acc: 65.72%
Step:  1000, 	 Loss: nan, 	 Acc: 65.72%
Step:  1100, 	 Loss: nan, 	 Acc: 65.72%
Step:  1200, 	 Loss: nan, 	 Acc: 65.72%
Step:  1300, 	 Loss: nan, 	 Acc: 65.72%
Step:  1400, 	 Loss: nan, 	 Acc: 65.72%
Step:  1500, 	 Loss: nan, 	 Acc: 65.72%
Step:  1600, 	 Loss: nan, 	 Acc: 65.72%
Step:  1700, 	 Loss: nan, 	 Acc: 65.72%
Step:  1800, 	 Loss: nan, 	 Acc: 65.72%
Step:  1900, 	 Loss: nan, 	 Acc: 65.72%

In [64]:
#불필요한 피쳐들 제거해 x1값 만들기 
# age, SQBescolari, SQBage, SQBhogar_total, SQBedjefe, SQBhogar_nin, SQBovercrowding,
# SQBdependency, SQBmeaned, agesq
df_x1 = df_h.drop(["Target", "edjefa", "edjefe", "dependency","age", 
                   "SQBescolari", "SQBage", "SQBhogar_total", "SQBedjefe", "SQBhogar_nin", "SQBovercrowding"],1)
df_x1.head()

,parentesco1,hhsize,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,...,lugar2,lugar3,lugar4,lugar5,lugar6,area1,area2,SQBdependency,SQBmeaned,agesq
0,1,1,190000.0,0,3,0,1,1,0,NaN,...,0,0,0,0,0,1,0,0.0,100.0,1849
1,1,1,135000.0,0,4,0,1,1,1,1.0,...,0,0,0,0,0,1,0,64.0,144.0,4489
2,1,1,NaN,0,8,0,1,1,0,NaN,...,0,0,0,0,0,1,0,64.0,121.0,8464
5,1,4,180000.0,0,5,0,1,1,1,1.0,...,0,0,0,0,0,1,0,1.0,121.0,1444
8,1,4,130000.0,1,2,0,1,1,0,NaN,...,0,0,0,0,0,1,0,1.0,100.0,900

In [67]:
#다시 돌려봄 :132개의 피쳐
from tqdm import tqdm_notebook
import tensorflow as tf
import numpy as np

tf.set_random_seed(777)  # for reproducibility

# Predicting animal type based on various features
xy = df_h

x_data = df_x1
y_data = df_y 

print(x_data.shape, y_data.shape)
print('\nx_data :\n', x_data)
print('\ny_data :\n', y_data)

nb_classes = 4  # 1 ~ 4

X = tf.placeholder(tf.float32, [None, 132])
Y = tf.placeholder(tf.int32, [None, 1])  # 1 ~ 4

Y_one_hot = tf.one_hot(Y, nb_classes)  # one hot
print("\none_hot", Y_one_hot)

Y_one_hot = tf.reshape(Y_one_hot, [-1, nb_classes])
print("\nreshape", Y_one_hot)

W = tf.Variable(tf.random_normal([132, nb_classes]), name='weight')
b = tf.Variable(tf.random_normal([nb_classes]), name='bias')

# tf.nn.softmax computes softmax activations
# softmax = exp(logits) / reduce_sum(exp(logits), dim)
logits = tf.matmul(X, W) + b
hypothesis = tf.nn.softmax(logits)

# Cross entropy cost/loss
cost_i = tf.nn.softmax_cross_entropy_with_logits(logits=logits,
                                                 labels=Y_one_hot)
cost = tf.reduce_mean(cost_i)
optimizer = tf.train.GradientDescentOptimizer(learning_rate=0.1).minimize(cost)

prediction = tf.argmax(hypothesis, 1)
correct_prediction = tf.equal(prediction, tf.argmax(Y_one_hot, 1))
accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))

(2973, 132) (2973, 1)

x_data :
       parentesco1  hhsize      v2a1  hacdor  rooms  hacapo  v14a  refrig  \
0               1       1  190000.0       0      3       0     1       1
1               1       1  135000.0       0      4       0     1       1
2               1       1       NaN       0      8       0     1       1
5               1       4  180000.0       0      5       0     1       1
8               1       4  130000.0       1      2       0     1       1
12              1       2  100000.0       0      3       0     1       1
13              1       2       NaN       0      4       0     1       1
18              1       4   90000.0       1      2       0     1       1
20              1       2  215000.0       0      4       0     1       1
21              1       2  150000.0       0      3       0     1       1
23              1       3  100000.0       1      1       1     0       1
26              1       1       NaN       0      5       0     1       1
27              1       3  120000.0       0      4       0     1       1
30              1       2  100000.0       0      5       0     1       1
33              1       5       NaN       0      5       0     1       1
39              1       3   80000.0       0      4       0     1       1
40              1       2   90000.0       0      5       0     1       1
43              1       3       NaN       0      8       0     1       1
45              1       2       NaN       0      4       0     1       1
49              1       3       NaN       0      5       0     1       1
53              1       4  120000.0       0      5       0     1       1
56              1       4  168000.0       0      5       0     1       1
58              1       1   40000.0       0      1       0     0       0
59              1       2  155000.0       0      3       0     1       1
61              1       3       NaN       0      6       0     1       1
64              1       1       NaN       0      6       0     1       1
68              1       5  200000.0       0      3       0     1       1
72              1       4       NaN       0      6       0     1       1
74              1       3  350000.0       0      6       0     1       1
77              1       3  270000.0       0      6       0     1       1
...           ...     ...       ...     ...    ...     ...   ...     ...
9477            1       6       0.0       0      4       0     1       1
9480            1       1       NaN       0      4       0     1       1
9481            1       2   40000.0       0      4       0     1       1
9485            1       4   35000.0       0      5       0     1       1
9487            1       3       NaN       0      4       0     1       1
9490            1       1       NaN       0      5       0     1       1
9492            1       3       NaN       0      2       0     1       1
9495            1       3       NaN       0      4       0     1       1
9499            1       4       NaN       0      4       0     1       1
9502            1       2   30000.0       0      5       0     1       1
9505            1       2       NaN       0      7       0     1       1
9506            1       1       NaN       0      5       0     1       1
9507            1       2       NaN       0      4       0     1       1
9508            1       2       NaN       0      4       0     1       1
9510            1       2       NaN       0      4       0     1       1
9512            1       2       NaN       0      1       0     1       1
9515            1       2       NaN       0      3       0     1       1
9517            1       3       NaN       0      8       0     1       1
9519            1       3  300000.0       0      4       0     1       1
9523            1       2       NaN       0      1       0     1       1
9526            1       4       NaN       0      5       0     1       1
9528            1       1   45000.0       0      3       0     1       0
9530            1       2       NaN       0      1       0     1       1
9531            1       3   70000.0       0      4       0     1       1
9534            1       1       NaN       0      7       0     1       1
9535            1       5       NaN       0      4       0     1       0
9541            1       5       NaN       0      3       0     0       0
9545            1       5   46500.0       0      5       0     1       1
9551            1       2       NaN       0      3       0     1       1
9552            1       5   80000.0       0      6       0     1       1

      v18q  v18q1  ...    lugar2  lugar3  lugar4  lugar5  lugar6  area1  \
0        0    NaN  ...         0       0       0       0       0      1
1        1    1.0  ...         0       0       0       0       0      1
2        0    NaN  ...         0       0       0       0       0      1
5        1    1.0  ...         0       0       0       0       0      1
8        0    NaN  ...         0       0       0       0       0      1
12       0    NaN  ...         0       0       0       0       0      1
13       1    1.0  ...         0       0       0       0       0      1
18       0    NaN  ...         0       0       0       0       0      1
20       0    NaN  ...         0       0       0       0       0      1
21       0    NaN  ...         0       0       0       0       0      1
23       0    NaN  ...         0       0       0       0       0      1
26       0    NaN  ...         0       0       0       0       0      1
27       1    1.0  ...         0       0       0       0       0      1
30       0    NaN  ...         0       0       0       0       0      1
33       0    NaN  ...         0       0       0       0       0      1
39       0    NaN  ...         0       0       0       0       0      1
40       1    1.0  ...         0       0       0       0       0      1
43       1    1.0  ...         0       0       0       0       0      1
45       0    NaN  ...         0       0       0       0       0      1
49       1    1.0  ...         0       0       0       0       0      1
53       0    NaN  ...         0       0       0       0       0      1
56       0    NaN  ...         0       0       0       0       0      1
58       0    NaN  ...         0       0       0       0       0      1
59       0    NaN  ...         0       0       0       0       0      1
61       1    2.0  ...         0       0       0       0       0      1
64       0    NaN  ...         0       0       0       0       0      1
68       0    NaN  ...         0       0       0       0       0      1
72       0    NaN  ...         0       0       0       0       0      1
74       1    3.0  ...         0       0       0       0       0      1
77       0    NaN  ...         0       0       0       0       0      1
...    ...    ...  ...       ...     ...     ...     ...     ...    ...
9477     0    NaN  ...         0       0       0       0       1      0
9480     0    NaN  ...         0       0       0       0       1      0
9481     0    NaN  ...         0       0       0       0       1      0
9485     0    NaN  ...         0       0       0       0       1      0
9487     0    NaN  ...         0       0       0       0       1      0
9490     0    NaN  ...         0       0       0       0       1      0
9492     0    NaN  ...         0       0       0       0       1      0
9495     0    NaN  ...         0       0       0       0       1      0
9499     0    NaN  ...         0       0       0       0       1      0
9502     0    NaN  ...         0       0       0       0       1      0
9505     1    1.0  ...         0       0       0       0       1      0
9506     0    NaN  ...         0       0       0       0       1      0
9507     0    NaN  ...         0       0       0       0       1      0
9508     0    NaN  ...         0       0       0       0       1      0
9510     0    NaN  ...         0       0       0       0       1      0
9512     0    NaN  ...         0       0       0       0       1      0
9515     0    NaN  ...         0       0       0       0       1      0
9517     1    1.0  ...         0       0       0       0       1      0
9519     0    NaN  ...         0       0       0       0       1      0
9523     0    NaN  ...         0       0       0       0       1      0
9526     0    NaN  ...         0       0       0       0       1      0
9528     0    NaN  ...         0       0       0       0       1      0
9530     0    NaN  ...         0       0       0       0       1      0
9531     0    NaN  ...         0       0       0       0       1      0
9534     0    NaN  ...         0       0       0       0       1      0
9535     0    NaN  ...         0       0       0       0       1      0
9541     0    NaN  ...         0       0       0       0       1      0
9545     0    NaN  ...         0       0       0       0       1      0
9551     0    NaN  ...         0       0       0       0       1      0
9552     0    NaN  ...         0       0       0       0       1      0

      area2  SQBdependency   SQBmeaned  agesq
0         0       0.000000  100.000000   1849
1         0      64.000000  144.000000   4489
2         0      64.000000  121.000000   8464
5         0       1.000000  121.000000   1444
8         0       1.000000  100.000000    900
12        0       1.000000  529.000000   1156
13        0       1.000000   90.250000   6241
18        0       9.000000  289.000000   2500
20        0       0.000000  182.250000    676
21        0      64.000000  100.000000   4761
23        0       0.000000  106.777770   1681
26        0       0.000000  225.000000   1936
27        0       0.250000   44.444443   4761
30        0       0.000000   90.250000   1225
33        0       0.062500   27.562500   3136
39        0       0.250000   49.000000   1369
40        0       0.000000  121.000000   1936
43        0       4.000000  240.250000   5776
45        0      64.000000  100.000000   4761
49        0       0.250000  182.250000   2304
53        0       1.000000  121.000000   1764
56        0       1.000000   81.000000   1369
58        0      64.000000   49.000000   5041
59        0       0.000000  100.000000    900
61        0       0.250000  169.000000   3025
64        0      64.000000   81.000000   5041
68        0       0.444444   81.000000    841
72        0       1.000000  196.000000   2025
74        0       0.250000  272.250000   3249
77        0       0.250000  196.000000   1681
...     ...            ...         ...    ...
9477      1       4.000000    9.000000   1369
9480      1      64.000000   36.000000   5625
9481      1       0.000000    0.250000   2304
9485      1       9.000000  289.000000    361
9487      1       0.250000   30.250000   1444
9490      1      64.000000    0.000000   5929
9492      1       4.000000   49.000000    841
9495      1       0.250000   25.000000   4489
9499      1       1.000000  100.000000   5476
9502      1       0.000000   81.000000    441
9505      1       1.000000   36.000000   4900
9506      1      64.000000    0.000000   6724
9507      1       1.000000  441.000000   3844
9508      1       0.000000   16.000000   2401
9510      1       0.000000  156.250000   1156
9512      1       0.000000   36.000000   3844
9515      1       1.000000   25.000000   1681
9517      1       0.250000  182.250000   3600
9519      1       0.250000   72.250000   1225
9523      1       0.000000   81.000000   2704
9526      1       1.000000   90.250000    841
9528      1       0.000000  256.000000    961
9530      1       0.000000   36.000000   2704
9531      1       0.250000   30.250000   2916
9534      1      64.000000   16.000000   5476
9535      1       2.250000   20.250000    676
9541      1       2.250000   16.000000   1600
9545      1       0.444444  100.000000   2025
9551      1       1.000000    9.000000   4489
9552      1       0.062500   68.062500   2116

[2973 rows x 132 columns]

y_data :
       Target
0          4
1          4
2          4
5          4
8          4
12         4
13         4
18         4
20         4
21         4
23         4
26         4
27         4
30         4
33         4
39         4
40         4
43         4
45         4
49         4
53         2
56         4
58         2
59         4
61         4
64         2
68         4
72         4
74         4
77         4
...      ...
9477       2
9480       3
9481       4
9485       1
9487       4
9490       3
9492       2
9495       4
9499       4
9502       4
9505       4
9506       3
9507       4
9508       1
9510       4
9512       4
9515       1
9517       4
9519       4
9523       3
9526       4
9528       4
9530       4
9531       4
9534       3
9535       1
9541       2
9545       4
9551       2
9552       2

[2973 rows x 1 columns]

one_hot Tensor("one_hot_6:0", shape=(?, 1, 4), dtype=float32)

reshape Tensor("Reshape_21:0", shape=(?, 4), dtype=float32)

In [68]:
#이전과 같은 결과 -> 피쳐값들간의 normalized의 필요성 인지 
# Launch the graph in a session.
sess = tf.Session()

# Initializes global variables in the graph.
sess.run(tf.global_variables_initializer())

for step in range(2000):
    sess.run(optimizer, feed_dict={X: x_data, Y: y_data})
    if step % 100 == 0:
        loss, acc = sess.run([cost, accuracy], feed_dict={
                             X: x_data, Y: y_data})
        print("Step: {:5}, \t Loss: {:.3f}, \t Acc: {:.2%}".format(
            step, loss, acc))

Step:     0, 	 Loss: nan, 	 Acc: 65.72%
Step:   100, 	 Loss: nan, 	 Acc: 65.72%
Step:   200, 	 Loss: nan, 	 Acc: 65.72%
Step:   300, 	 Loss: nan, 	 Acc: 65.72%
Step:   400, 	 Loss: nan, 	 Acc: 65.72%
Step:   500, 	 Loss: nan, 	 Acc: 65.72%
Step:   600, 	 Loss: nan, 	 Acc: 65.72%
Step:   700, 	 Loss: nan, 	 Acc: 65.72%
Step:   800, 	 Loss: nan, 	 Acc: 65.72%
Step:   900, 	 Loss: nan, 	 Acc: 65.72%
Step:  1000, 	 Loss: nan, 	 Acc: 65.72%
Step:  1100, 	 Loss: nan, 	 Acc: 65.72%
Step:  1200, 	 Loss: nan, 	 Acc: 65.72%
Step:  1300, 	 Loss: nan, 	 Acc: 65.72%
Step:  1400, 	 Loss: nan, 	 Acc: 65.72%
Step:  1500, 	 Loss: nan, 	 Acc: 65.72%
Step:  1600, 	 Loss: nan, 	 Acc: 65.72%
Step:  1700, 	 Loss: nan, 	 Acc: 65.72%
Step:  1800, 	 Loss: nan, 	 Acc: 65.72%
Step:  1900, 	 Loss: nan, 	 Acc: 65.72%

#144개를 어떻게 조정할지 
v2a1, Monthly rent payment
hacdor, =1 Overcrowding by bedrooms
rooms,  number of all rooms in the house
hacapo, =1 Overcrowding by rooms
v14a, =1 has bathroom in the household
refrig, =1 if the household has refrigerator
v18q, owns a tablet
v18q1, number of tablets household owns
r4h1, Males younger than 12 years of age
r4h2, Males 12 years of age and older
r4h3, Total males in the household
r4m1, Females younger than 12 years of age
r4m2, Females 12 years of age and older
r4m3, Total females in the household
r4t1, persons younger than 12 years of age
r4t2, persons 12 years of age and older
r4t3, Total persons in the household
tamhog, size of the household
tamviv, number of persons living in the household
escolari, years of schooling
rez_esc, Years behind in school
hhsize, household size
paredblolad, =1 if predominant material on the outside wall is block or brick
paredzocalo, "=1 if predominant material on the outside wall is socket (wood,  zinc or absbesto"
paredpreb, =1 if predominant material on the outside wall is prefabricated or cement
pareddes, =1 if predominant material on the outside wall is waste material
paredmad, =1 if predominant material on the outside wall is wood
paredzinc, =1 if predominant material on the outside wall is zink
paredfibras, =1 if predominant material on the outside wall is natural fibers
paredother, =1 if predominant material on the outside wall is other
pisomoscer, "=1 if predominant material on the floor is mosaic,  ceramic,  terrazo"
pisocemento, =1 if predominant material on the floor is cement
pisoother, =1 if predominant material on the floor is other
pisonatur, =1 if predominant material on the floor is  natural material
pisonotiene, =1 if no floor at the household
pisomadera, =1 if predominant material on the floor is wood
techozinc, =1 if predominant material on the roof is metal foil or zink
techoentrepiso, "=1 if predominant material on the roof is fiber cement,  mezzanine "
techocane, =1 if predominant material on the roof is natural fibers
techootro, =1 if predominant material on the roof is other
cielorazo, =1 if the house has ceiling
abastaguadentro, =1 if water provision inside the dwelling
abastaguafuera, =1 if water provision outside the dwelling
abastaguano, =1 if no water provision
public, "=1 electricity from CNFL,  ICE,  ESPH/JASEC"
planpri, =1 electricity from private plant
noelec, =1 no electricity in the dwelling
coopele, =1 electricity from cooperative
sanitario1, =1 no toilet in the dwelling
sanitario2, =1 toilet connected to sewer or cesspool
sanitario3, =1 toilet connected to  septic tank
sanitario5, =1 toilet connected to black hole or letrine
sanitario6, =1 toilet connected to other system
energcocinar1, =1 no main source of energy used for cooking (no kitchen)
energcocinar2, =1 main source of energy used for cooking electricity
energcocinar3, =1 main source of energy used for cooking gas
energcocinar4, =1 main source of energy used for cooking wood charcoal
elimbasu1, =1 if rubbish disposal mainly by tanker truck
elimbasu2, =1 if rubbish disposal mainly by botan hollow or buried
elimbasu3, =1 if rubbish disposal mainly by burning
elimbasu4, =1 if rubbish disposal mainly by throwing in an unoccupied space
elimbasu5, "=1 if rubbish disposal mainly by throwing in river,  creek or sea"
elimbasu6, =1 if rubbish disposal mainly other
epared1, =1 if walls are bad
epared2, =1 if walls are regular
epared3, =1 if walls are good
etecho1, =1 if roof are bad
etecho2, =1 if roof are regular
etecho3, =1 if roof are good
eviv1, =1 if floor are bad
eviv2, =1 if floor are regular
eviv3, =1 if floor are good
dis, =1 if disable person
male, =1 if male
female, =1 if female
estadocivil1, =1 if less than 10 years old
estadocivil2, =1 if free or coupled uunion
estadocivil3, =1 if married
estadocivil4, =1 if divorced
estadocivil5, =1 if separated
estadocivil6, =1 if widow/er
estadocivil7, =1 if single
parentesco1, =1 if household head
parentesco2, =1 if spouse/partner
parentesco3, =1 if son/doughter
parentesco4, =1 if stepson/doughter
parentesco5, =1 if son/doughter in law
parentesco6, =1 if grandson/doughter
parentesco7, =1 if mother/father
parentesco8, =1 if father/mother in law
parentesco9, =1 if brother/sister
parentesco10, =1 if brother/sister in law
parentesco11, =1 if other family member
parentesco12, =1 if other non family member
idhogar, Household level identifier
hogar_nin, Number of children 0 to 19 in household
hogar_adul, Number of adults in household
hogar_mayor, # of individuals 65+ in the household
hogar_total, # of total individuals in the household
dependency, Dependency rate, calculated = (number of members of the household younger than 19 or older than 64)/(number of member of household between 19 and 64)
edjefe, years of education of male head of household, based on the interaction of escolari (years of education), head of household and gender, yes=1 and no=0
edjefa, years of education of female head of household, based on the interaction of escolari (years of education), head of household and gender, yes=1 and no=0
meaneduc,average years of education for adults (18+)
instlevel1, =1 no level of education
instlevel2, =1 incomplete primary
instlevel3, =1 complete primary
instlevel4, =1 incomplete academic secondary level
instlevel5, =1 complete academic secondary level
instlevel6, =1 incomplete technical secondary level
instlevel7, =1 complete technical secondary level
instlevel8, =1 undergraduate and higher education
instlevel9, =1 postgraduate higher education
bedrooms, number of bedrooms
overcrowding, # persons per room
tipovivi1, =1 own and fully paid house
tipovivi2, "=1 own,  paying in installments"
tipovivi3, =1 rented
tipovivi4, =1 precarious
tipovivi5, "=1 other(assigned,  borrowed)"
computer, =1 if the household has notebook or desktop computer
television, =1 if the household has TV
mobilephone, =1 if mobile phone
qmobilephone, # of mobile phones
lugar1, =1 region Central
lugar2, =1 region Chorotega
lugar3, =1 region PacÃƒÂ­fico central
lugar4, =1 region Brunca
lugar5, =1 region Huetar AtlÃƒÂ¡ntica
lugar6, =1 region Huetar Norte
area1, =1 zona urbana
area2, =2 zona rural
age, Age in years
SQBescolari, escolari squared
SQBage, age squared
SQBhogar_total, hogar_total squared
SQBedjefe, edjefe squared
SQBhogar_nin, hogar_nin squared
SQBovercrowding, overcrowding squared
SQBdependency, dependency squared
SQBmeaned, square of the mean years of education of adults (>=18) in the household
agesq, Age squared

In [72]:
df_h.head()

,parentesco1,hhsize,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
0,1,1,190000.0,0,3,0,1,1,0,NaN,...,100,1849,1,100,0,1.000000,0.0,100.0,1849,4
1,1,1,135000.0,0,4,0,1,1,1,1.0,...,144,4489,1,144,0,1.000000,64.0,144.0,4489,4
2,1,1,NaN,0,8,0,1,1,0,NaN,...,121,8464,1,0,0,0.250000,64.0,121.0,8464,4
5,1,4,180000.0,0,5,0,1,1,1,1.0,...,121,1444,16,121,4,1.777778,1.0,121.0,1444,4
8,1,4,130000.0,1,2,0,1,1,0,NaN,...,81,900,16,81,4,16.000000,1.0,100.0,900,4

In [83]:
df_sanitario = df_h[['sanitario1','sanitario2','sanitario3','sanitario5','sanitario6']]
df_sanitario.head()
df_sanitario[]

   sanitario1  sanitario2  sanitario3  sanitario5  sanitario6
0           0           1           0           0           0
1           0           1           0           0           0
2           0           1           0           0           0
5           0           1           0           0           0
8           0           1           0           0           0

In [ ]:
df_sanitario["sanitario1"]

def numbering():
    colstr

In [79]:
df_sanitario.columns

Index(['sanitario1', 'sanitario2', 'sanitario3', 'sanitario5', 'sanitario6'], dtype='object')

In [92]:
df_sanitario["sanitario"]=0

C:\python\Anaconda3-52\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [93]:
df_sanitario.head()

   sanitario1  sanitario2  sanitario3  sanitario5  sanitario6  sanitario
0           0           1           0           0           0          0
1           0           1           0           0           0          0
2           0           1           0           0           0          0
5           0           1           0           0           0          0
8           0           1           0           0           0          0

In [103]:
df_sanitario["sanitario"]=df["sanitario1"]*1+df["sanitario2"]*2+df["sanitario3"]*3+df["sanitario5"]*5+df["sanitario6"]*6

C:\python\Anaconda3-52\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [105]:
df_sanitario.head()

   sanitario1  sanitario2  sanitario3  sanitario5  sanitario6  sanitario
0           0           1           0           0           0          2
1           0           1           0           0           0          2
2           0           1           0           0           0          2
5           0           1           0           0           0          2
8           0           1           0           0           0          2

In [110]:
df_sanitario.drop(["sanitario1","sanitario2","sanitario3","sanitario5","sanitario6"],1)

      sanitario
0             2
1             2
2             2
5             2
8             2
12            2
13            2
18            2
20            2
21            2
23            1
26            2
27            2
30            2
33            2
39            3
40            2
43            2
45            2
49            2
53            2
56            2
58            1
59            2
61            2
64            2
68            2
72            2
74            2
77            2
...         ...
9477          3
9480          3
9481          3
9485          3
9487          2
9490          3
9492          3
9495          3
9499          3
9502          2
9505          3
9506          3
9507          3
9508          3
9510          3
9512          3
9515          3
9517          3
9519          3
9523          3
9526          3
9528          3
9530          2
9531          3
9534          3
9535          2
9541          5
9545          3
9551          3
9552          3

[2973 rows x 1 columns]